IdentityServer/Service References/CustomerServiceReference/CustomerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CustomerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CustomerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://back.loc/CustomerService/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CustomerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoyaltyCardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerInfo" nillable="true" type="tns:CustomerInfo" />
  <xs:complexType name="CheckPasswordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerInfo" nillable="true" type="tns:CustomerInfo" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckPasswordInfo" nillable="true" type="tns:CheckPasswordInfo" />
</xs:schema>